{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, меня зовут Анатолий и я автор)</h1>
<p>
  Создать эту страницу было легче, чем все предыдущие.
  Может это из-за того, что я что-то усвоил, может теория
  из практикума сильно подсказывала, но как бы то нибыло,
  я сделал её и она работает)
</p>
<p>
  Делюсь своей ссылкой на GitHub, там скоро будут крутые проекты
  <a href="https://github.com/Kolupanov/">
    <br>Перейти
  </a>
</p>
<p>
  Ах, да. Вот картинка-стимул)
  <img src="{% static 'img/sea.jpg' %}"  width="1280" height="720">
</p>
{% endblock %}
